<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <!--AddMore
    <compilation debug="true" />
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <sessionState timeout="60" />
    AddMore-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!--<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    </compilers>
  </system.codedom>

  <!--<applicationSettings>
    <BusinessService.Properties.Settings>
      <setting name="DebugLevel" serializeAs="String">
        <value>Full</value>

      </setting>
      <setting name="AttachFilesPath" serializeAs="String">
        <value>D:\AttachFiles\</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>D:\Logs\OracleServices\</value>
      </setting>
      <setting name="ConfigPath" serializeAs="String">
        <value>D:\Projects\VCB\OracleServices\BusinessService\bin</value>
      </setting>
      <setting name="ReportsPath" serializeAs="String">
        <value>D:\Projects\VCB\OracleServices\Reports\</value>
      </setting>
      <setting name="ReportExtraInfo" serializeAs="String">
        <value>name=Ngân hàng thương mại cổ phần Ngoại thương Việt Nam;short_name=Vietcombank;address= Hà Nội;Tel=84-4-39367083;Fax=84-4-39367082;code=073;Website=https://www.vietcombank.com.vn/;email=info@vietcombank.com.vn </value>
      </setting>
      <setting name="ConnectString" serializeAs="String">
        <value>User Id=dbs;Password=z; Data Source=192.168.88.224/rpsoft; Min Pool Size=1; Max Pool Size=50; Connection Lifetime=120; Connection Timeout=6000; Unicode=true</value>
      </setting>
      <setting name="ReportConnectString" serializeAs="String">
        <value>User Id=dbs;Password=z; Data Source=192.168.88.224/rpsoft; Min Pool Size=1; Max Pool Size=50; Connection Lifetime=120; Connection Timeout=6000; Unicode=true</value>
      </setting>
      <setting name="MaxRowsReturned" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SignaturesPath" serializeAs="String">
        <value>D:\Signatures\</value>
      </setting>
    </BusinessService.Properties.Settings>
  </applicationSettings>-->
  
  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>-->
</configuration>
